.sidefild{
    border: 1px solid #eceeef;
}
.infotab{
    padding-Top:30px;
}
.button-tool{
    padding-top:30px;
}
.fade{
    opacity: 1;
}
.use-info{
    padding:10px
}
.tab-head-text{
    color:#ddd;
    padding-top:20px;
}
.tab-content{
    border-left: 2px solid #eceeef;
    border-right: 2px solid #eceeef;
    border-bottom: 2px solid #eceeef;
}
.collapse{
    display: block;
}
.navbar-nav .nav-item {
    margin-left: 1rem;
}
.navbar>.container, .navbar>.container-fluid{
    align-items: end
}
.btn-toolbar{
    display: block;
}
.user-pic {
    height: 26px;
    border-radius: 50px;
    float: left;
    margin-right: 5px;
}
.text-xs-center {
    text-align: center!important;
}
button:not(:disabled){
    margin-left: 10px;
}
.settings-page{
    padding:30px
}