.sidefild{
    border: 1px solid #eceeef;
}
.infotab{
    padding-Top:30px;
}
.button-tool{
    padding-top:30px;
}
.fade{
    opacity: 1;
}
.use-info{
    padding:10px
}
.tab-head-text{
    color:#ddd;
    padding-top:20px;
}